

body {
    background-color: rgba(15, 15, 17, 0.5) ;
    margin: 20px;
    font-family: sans-serif;
}


a {
    text-decoration: none ;
    color: bisque;
    font-size: 1rem;

}
HEADER
.logo {
    position: fixed;
    align-items: center;
  }
  .navbar ul{
      list-style-type: none;
      text-align: center;
      position: centre;
      padding: 0 2rem;
      background-color: rgb(0, 0, 0);
      padding: 0px;
      margin: 0px;
      overflow: hidden;
      
  }
  
  .navbar a {
    list-style: none;
    color: rgb(255, 255, 255);
    text-decoration: none;
    padding: 15px;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    padding-right: 10px;
  }
    
  .navbar a {
    list-style: none;
    color: rgb(255, 255, 255);
    text-decoration: none;
    padding: 25px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    padding-right: 50px;
   
  }
  .navbar a:hover {
    background-color: gray;
  }
  .navbar li {
      display: inline-block;
  }
  
  .toggle_btn {
   position: fixed;
  }

 
/* 2 columnas */
#contenedor {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  #imagen {
   width: 65%;
   margin: auto;
    
  }
  #texto {
    width: 35%;
    color: rgb(8, 8, 8);
    text-align: center;
        
  } 

  h2{
    text-align: center;
  }
  #contactForm {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    display: inline-block;
   
}

.form-control {
  width: 50%; 
  height:auto;
} 

form label {
  width: 300px; 
  display: inline-block;
  text-align: right;
  margin-right: 20px; 
}

#mensaje {
    width: 300px; 
    height: 150px; 
}

footer {
    margin-top: 40px;
    color: rgb(11, 11, 11);
    text-align: center;

}

.servicios {
    display: flex;
    justify-content: center;
    
}
.foto {
    margin-top: 50px;
    margin-left: 20px;
    justify-content: center;
}

figcaption:hover {
background-color: rgb(216, 213, 213);
}
figcaption{
    text-align: center;
}

.nosotros {
  margin-top: 50px;
}

.principal {
  margin-top: 50px;
}

INDEX
.slider-container{
  width: 100%;
  height: 85vh;
  display: flex;
  align-items: center;
  overflow: hidden;
  background: linear-gradient(to right, rgb(255,65,108), rgb(255,75,43));
}

.image-slider {
  width: 100%;
  height: 600px;
  /*position: absolute;*/
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: .7s;
  margin-bottom: 100px;
}

.slides-div {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 30px 0 30px;

}
.img{
  position: relative;
  width: 200px;
  height: 300px;
  transition: .5s;
  filter: saturate(10%);
}

.button {
  position: absolute;
  width: 200px;
  height: 300px;
  transition: .5s;
  background-color: rgba(0, 0, 0, .4);
}

.button : hover {
  background-color: black;
}

#slider-span1:target ~ .image-slider #img1,
#slider-span1:target ~.image-slider #button-1{
    width:250px;
    height: 400px;
    background-color: transparent;
    filter: saturate(100%);
 }

 #slider-span2:target ~ .image-slider #img2,
#slider-span2:target ~.image-slider #button-2{
    width:250px;
    height: 400px;
    background-color: transparent;
    filter: saturate(100%);
 }

 #slider-span3:target ~ .image-slider #img3,
#slider-span3:target ~.image-slider #button-3{
    width:250px;
    height: 400px;
    background-color: transparent;
    filter: saturate(100%);
 }

 #slider-span4:target ~ .image-slider #img4,
 #slider-span4:target ~.image-slider #button-4{
     width:250px;
     height: 400px;
     background-color: transparent;
     filter: saturate(100%);
  }
 
  #slider-span5:target ~ .image-slider #img5,
#slider-span5:target ~.image-slider #button-5{
    width:250px;
    height: 400px;
    background-color: transparent;
    filter: saturate(100%);
 }

 #slider-span6:target ~ .image-slider #img6,
 #slider-span6:target ~.image-slider #button-6{
     width:250px;
     height: 400px;
     background-color: transparent;
     filter: saturate(100%);
  }
 

 #slider-span1:target ~.image-slider{
  left:30%;
}
#slider-span2:target ~.image-slider{
  left:20%;
}
#slider-span3:target ~.image-slider{
  left:10%;
   }

   #slider-span4:target ~.image-slider{
    left:-10%;
     }

     #slider-span5:target ~.image-slider{
      left:-20%;
       }

       #slider-span6:target ~.image-slider{
        left:-30%;
         }


/*.form-control {
          height: 43px;
          border-radius: 0;
          background: transparent;
          border-color: #777;
          color: #fff !important; }
          .form-control:active, .form-control:focus {
            border-color: #8dc3d3;
            background: transparent; }
          .form-control:hover, .form-control:active, .form-control:focus {
            -webkit-box-shadow: none !important;
            box-shadow: none !important; }